<ion-header>
  
  
  
  <ion-toolbar>


    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" id="mn"></ion-icon>
      </ion-button>
    </ion-buttons>
    
 
    
    <ion-title id="title">¡Bienvenida/o!</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
 
  <ion-card id="c1">
    
   
    
    <img src="assets/logo2.png" class="ion-padding">
    <ion-card-header id="h1"><b>¿Qué es registrAPP?</b> </ion-card-header>
    <ion-card-content>
      <p id="p"> Es un software, desarrollado para el uso docente/estudiante, el cuál facilitará
          el registro de la asistencia, en base a un sistema más automatizado.
      </p>
    </ion-card-content>
    
    </ion-card >
    <ion-card id="c1">
      <ion-card-title id="h1"> <b>¿Cómo se usa?</b></ion-card-title>
      <ion-card-content>
        <h1 id="p"> ¡Está aplicación tiene dos modos de uso!</h1>
        <br>
        
        <p id=> <b id="h1">-Para Docentes.    </b> </p>
        <p id="p">Debes ingresar al generador de QR, ingresar los datos de tu sección y generar el QR.</p>
          
        <br>
        <p id="p"> <b id="h1">-Para Estudiantes.</b> Deben Desplegar la cámara en la opción desplegar cámara (Aún no configurada) y escanear el código QR.</p>

      </ion-card-content>
    </ion-card>



  
  
 

</ion-content>
