#mn{

    color: white;
  }
  .ion-padding{
  
    height: 100px;
  }
  
  #c1 {
  
    background-color: rgba(86, 88, 86, 0.911);
  }
  #h1{ color: orange;
  font-size: 20px;
  text-align: center;
  }
  
  
  #p {
    
    color: black;
    font: bold 100% monospace;
  }

  #title {


    font-size: medium;
  }