<ion-header>
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-back-button id="mn"
        routerLink="/inicio"
        text="Back"
        mode="ios"></ion-back-button>
    
      
    </ion-buttons>
    <ion-title>logout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card id="c1">
    
   
    
    <img src="assets/logo2.png" class="ion-padding">
    <ion-card-header id="h1"><b>GRACIAS POR USAR REGISTRAPP</b> </ion-card-header>
    
  </ion-card>

  
  
 

</ion-content>
