#boton1 {
    text-shadow: black;
    border-radius: 25px;
    background-color: rgb(85, 77, 71);
    
}
#mn,#p::placeholder{

    color: rgb(255, 255, 255);
}
#t1,#icon{color: black; font-style: bold;}
.card1 {


    background-color:#7788 ;
}

#tcard {
    font-size: 16px;
    font-family: sans-serif;
}
#card2 {
    background-color: rgb(46, 139, 87);


}
#boton1 { background-color: rgba(255, 166, 0, 0.719); color: azure;}
#h1{ color: rgba(255, 166, 0, 0.466);}